.table{
    text-align: center !important;
    border-bottom: 1px solid var(--primary);
    /* width: 80%; */
}
.table th{
    text-transform: uppercase;
    
}
.table tr {
    line-height: 60px !important;
    
}
.table tr td img{
    width: 80px !important;
    height: 80px !important;
    object-fit: contain !important;
}

.table td span {
    cursor: pointer !important;
    
}

.buy_btn2 {
    margin-top: .9rem;
    font-weight: 600;
    padding: -2px;
    background-color: var(--primary-color);
    margin: 5px;
    /* background-color: lightgray; */
    border-radius: 5px;
    color: white;
    width: 100%;
    text-transform: capitalize;
    height: 60px;
    border: none;
    outline: none;
    transition: 0.7s all;
    /* text-align: center; */
}