.revenue_box,
.order_box,
.user_box,
.product_box {
  padding: 25px;
  border-radius: 10px;
  text-align: center;
  color: white;
  text-transform: uppercase;
  margin: 10px;
}
.revenue_box h5,
.order_box h5,
.user_box h5,
.product_box h5 {
    font-weight: 600;
    font-size: 1.2rem;
}

.revenue_box {
  background-color: #00a8ff;
}

.order_box{
    background-color: orange;
}
.product_box{
    background: green;
}

.user_box{
    background-color: #ff9ff3 ;
}
.revenue_box span,
.order_box span,
.user_box span,
.product_box span {
  font-size: 1.85rem;
}
