.header {
    width: 100%;
    height: 100px;
    line-height: 70px;
    background-color: var(--primary-color);
    /* box-shadow: 0px 0px 32px 2px rgba(142, 144, 145, 0.628) */
    position: relative;

}
.wd{
    background-color: red;     
}

.nav_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.logo {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.logo img {
    width: 2.5rem;
    height: 2.5rem;
    filter: invert(1);
    cursor: pointer;
}

.fav_icon,
.nav_icon {
    position: relative;
}

.badge {
    position: absolute;
    top: 30%;
    color: var(--primary-color);
    content: '';
    font-size: 0.5rem;
    background-color: white;
    border-radius: 50%;
}

.logo h5 {
    font-size: .9rem;
    font-weight: 700;
    color: white;

}

.menu{
    display: flex;
    align-items: center;
    column-gap: 2.7rem;
    margin-bottom: 0;
}

.nav_Item a {
    color: white;
    font-weight: 500;
    cursor: pointer;
    text-transform: capitalize;
}

.nav_icon {
    display: flex;
    align-items: center;
    column-gap: 1.3rem;
}

.nav_icon span i {
    font-size: 1.3rem;
    color: white;
    cursor: pointer;
}

.nav_icon span img {
    width: 30px;
    height: 30px;
}

.mobile_menu {
    font-size: 1.3rem;
    color: var(--primary-color);
    display: none;
}

.nav_active {
    font-weight: 600 !important;
    /* color: #00a8ff !important; */
    border-bottom: 1px solid white;
    transition: 0.2s ease-in-out;
}

.sticky_Nav{
    width: 100% !important;
    height: 100px;
    line-height: 70px !important;
    position: sticky !important;
    top: 1rem !important;
    left: 0 !important;
    z-index: 9999 !important;
    background-color: purple;
}

@media only screen and (max-width: 768px) {
    .navigation {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.241);
        z-index: 9999;
        display: none;

    }
    

    .menu {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.689);
        z-index: 9999;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: 0.6s ease-in-out;
    }

    .nav_Item a {
        color: var(--primary-color);
        font-size: 1.2rem;
    }

    .active_menu {
        display: block;
        transition: 0.6s ease-in-out;

    }

    .mobile_menu {
        display: block;
    }
    .logo img{
        width: 2rem;
        height: 2rem;
    }
    .logo h5{
        font-size: 1rem;
    }
    .nav_icon span img{
        width: 1.6rem;
        height: 1,6rem;
    }  
    .header{
        width: 100%;
        height: 60px;
        line-height: 60px;
    }
}